*{
    box-sizing: border-box;
}

.wrapperBody{
    background-color: #f5fbff;
    padding: 16px;
    
}
.title, .helloText, .descriptText {
    text-align: center;
    color: #333333;
}
.titleIcons{
    text-align: center;
}
.fa-figma{
    color:#a50000;
}
.fa-heart, .fa-code{
    color:#333333;
}